.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.header {
    z-index: 1;
    position: fixed;
    background-image: url("https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png");
    background-color: rgb(51, 65, 73);
    width: 100%;
}
.header__body {
    height: 100px;
    border-bottom: 2px solid rgb(194, 194, 194);
}
.header__row {
    display: flex;
    justify-content: space-between;
}
.header__logo {
    font-family: 'Material icons';
    font-size: 64px;
    color: rgb(255, 255, 255);
    margin: auto 20px;
    cursor: pointer;
}
.nav__link {
    display: inline-flex;
    font-size: 24px;
    list-style: none;
    padding: 5px 10px;
    margin: 25px 30px;
}

.nav__link a {
    margin-right: 40px;
    text-transform: uppercase;
    color: whitesmoke;
    text-decoration: none;
}
.nav__link a:before {
    content: '';
    position: absolute;
    background: rgb(105, 204, 105);
    width: 100%;
    height: 6px;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    animation: 1s forwards ani1 linear;
    z-index: -1;    
}
.nav__link a:hover:before,
.nav__link a:focus:before {
    animation: 1s forwards ani2 linear;
}

@keyframes ani2 {
    0% {
        transform: scaleX(0);
        height: 5px;
    }
    45% {
        transform: scaleX(1);
        height: 5px;
    }
    55% {
        height: 5px;
    }
    100% {
        transform: scaleX(1);
        height: 100px;
    }
}

@keyframes ani1 {
    0% {
        transform: scaleX(0);
        height: 100px;
    }
    45% {
        height: 5px;
    }
    55% {
        transition: scaleX(1);
        height: 5px;
        opacity: 1;
    }
    100% {
        transform: scaleX(0);
        height: 5px;
        opacity: .02;
    }
}
.nav__link a:hover {
    color: rgb(51, 65, 73);
}
.nav__link li:last-child{
    margin-right: 0px;
}
#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: grey;
    background-image: url("https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png");
}
.container__hello h1 {
    text-align: center;
    font-weight: 600;
    font-size: 72px;
    text-transform: uppercase;
    font-family: 'Space Grotesk', sans-serif;
    color: rgb(105, 204, 105);
}
.container__hello h2 {
    text-align: center;
    font-weight: 400;
    font-size: 56px;
    text-transform: uppercase;
    font-family: 'Space Grotesk', sans-serif;
    color: rgb(255, 255, 255);
}    
#projects {
    margin: 0px auto;
    padding-bottom: 50px;
    width: 100%;
}
.title {
    background-color: grey;
    height: 200px;
    text-align: center;
    padding: 40px;
}
.project-tile,
.other-title {
    margin: 50px auto;
}
.project-tile h2,
.other-title h2,
.skill-title h2 {
    text-align: center;
    font-weight: 400;
    font-size: 48px;
    text-transform: uppercase;
    font-family: 'Space Grotesk', sans-serif;
    color: rgb(105, 204, 105);
}
.project-tile h3,
.other-title h3 {
    text-align: center;
    font-weight: 200;
    font-size: 36px;
    text-transform: uppercase;
    font-family: 'Space Grotesk', sans-serif;
    color: rgb(0, 0, 0);
}
.skill-title h3 {
    text-align: center;
    font-weight: 200;
    font-size: 36px;
    text-transform: uppercase;
    font-family: 'Space Grotesk', sans-serif;
    color: white;
}
.other-title a {
    color: black;
}
.other-title a:hover {
    color: rgb(105, 204, 105);
}
.skil-title {
    margin: 20px 0px 5px 0px;
    font-weight: 600;
    color: whitesmoke;
}
.my-progress {
    background-image: url("https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png");
    background-color: grey;
    padding: 50px 0px 100px 0px;
    width: 100%;
}
.contact__me {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 100%;
}
.card-header {
    border: 1px solid red
}
.btn {
    background-color: rgb(105, 204, 105)!important;
    border: 1px solid black!important;
    border-radius: 0px!important;
    color: black!important;
    transition-duration: 0.4s!important;
}
.footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(51, 65, 73);
    background-image: url("https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png");
    height: 150px;
    color: honeydew;
}

@media screen and (max-width: 640px) {
    .content {
        width: 100%;
    }
    .container__hello h1 {
        font-size: 32px;
    }
    .container__hello h2 {
        font-size: 24px;
    }
}
@media screen and (max-width: 450px) {
    .content {
        width: 100%;
    }
    .header__logo {
        font-size: 24px;
    }
    .nav__link {
        font-size: 14px;
    }
    .header__body {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        border-bottom: 2px solid rgb(194, 194, 194);
    }
}

@media screen and (max-width: 320px) {
    .content {
        width: 100%;
    }
    .header__logo {
        font-size: 24px;
    }
    .nav__link {
        font-size: 14px;
    }
    .header__body {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        border-bottom: 2px solid rgb(194, 194, 194);
    }
    .nav__link a {
        margin-right: 20px;
    }
}
